@using App.Models.Blog
@using static App.Views.Shared.Components.CategorySidebar

@model App.Models.Blog.Post

@{
    List<CategoryModel> categories = ViewBag.categories as List<CategoryModel>;
    CategoryModel category = ViewBag.category as CategoryModel;
    ViewData["Title"] = Model.Title;

    IQueryable<Post> otherPosts = ViewBag.otherPosts as IQueryable<Post>;
}

@* Breadcrumb *@
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a style="text-decoration: none;" asp-action="Index" asp-route-categoryslug="@null">
            Home
        </a>
    </li>

    @if(category != null)
    {
        var list = category.GetListParents();
        foreach(var item in list)
        {
            <li class="breadcrumb-item">
                <a style="text-decoration: none;" asp-action="Index" asp-route-categoryslug="@item.Slug">
                    @item.Title
                </a>
            </li>
        }
        <li class="breadcrumb-item">
            <div class="text-truncation">@Model.Title</div>
        </li>
    }
  </ol>
</nav>


<div class="detail-post">
    <h1>@Model.Title</h1>
    <div class="sapo">@Model.Description</div>
    <div>
        <i>Update: @Model.DateUpdated</i> / Author: <strong>@Model.Author.UserName</strong>
    </div>
    <hr>
    @Html.Raw(Model.Content)
</div>

@section Sidebar{
    @* goi func invoke trong CategorySidebar.cs va truyen tham so data*@
    @await Component.InvokeAsync("App.Views.Shared.Components.CategorySidebar", 
                                new CategorySidebarData()
                                {
                                    Categories = categories,
                                    level = 0,
                                    categorySlug = ViewBag.categoryslug
                                })
    
    @* Hien thi cac Post moi nhat *@
    <ul class="list-group"> 
        @foreach(var post in otherPosts)
        {
            <li class="list-group-item">
                <a style="text-decoration:none" asp-asp-controller="ViewPost" asp-action="Detail" asp-route-postslug="@post.Slug">
                    @post.Title
                </a>
            </li>
        }
    </ul>
}