@using App.Models.Blog;
@using static App.Views.Shared.Components.CategorySidebar

@model List<Post>

@{
    List<CategoryModel> categories = ViewBag.categories as List<CategoryModel>;
    CategoryModel categoryChoosed = ViewBag.categoryChoosed as CategoryModel;
    ViewData["Title"] = (categoryChoosed != null) ? categoryChoosed.Title : "Blogs";

}

@* Breadcrumb *@
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a style="text-decoration: none;" asp-action="Index" asp-route-categoryslug="@null">
            Home
        </a>
    </li>

    @if(categoryChoosed != null)
    {
        var list = categoryChoosed.GetListParents();
        foreach(var item in list)
        {
            <li class="breadcrumb-item">
                <a style="text-decoration: none;" asp-action="Index" asp-route-categoryslug="@item.Slug">
                    @item.Title
                </a>
            </li>
        }
    }
  </ol>
</nav>


@* List Posts *@
<h1>@ViewData["Title"]</h1>

@if (categoryChoosed != null){
    <p>@categoryChoosed.Content</p>
}

<hr>

@foreach(var post in Model)
{
    <div class="media border-bottom border-primary mb-3 pb-3">
        <img class="mr-3 w-25" src="/contents/noImg.png" alt="Generic placeholder image">
        <div class="media-body">
            <h5 class="mt-0">
                <a asp-controller="ViewPost" asp-action="Detail" asp-route-postslug="@post.Slug" style="text-decoration:none;">
                    @post.Title
                </a>
            </h5>
            @post.Description
            <div>
                Chu de:
                <strong class="text-danger">
                    @string.Join(", " , post.PostCategories.Select(pc => pc.CategoryModel.Title))
                </strong>
            </div>

            <div class="author-row">
                Author: <strong>@post.Author.UserName</strong>
                Date Update: <i>@post.DateUpdated.ToShortDateString()</i>
            </div>
        </div>
    </div>
}

@section Sidebar{
    @* goi func invoke trong CategorySidebar.cs va truyen tham so data*@
    @await Component.InvokeAsync("App.Views.Shared.Components.CategorySidebar", 
                                new CategorySidebarData()
                                {
                                    Categories = categories,
                                    level = 0,
                                    categorySlug = ViewBag.categoryslug
                                })
}

<partial name="_PagingXTL" model="@ViewBag.pagingmodel" />