@using static App.Views.Shared.Components.CategorySidebar
@model App.Views.Shared.Components.CategorySidebar.CategorySidebarData;

@{
    int level = Model.level;
}

@if(Model.Categories.Count > 0)
{
    @if(level == 0)
    {
        @Html.Raw("<div class=\"categorysidebar\">")
        <h3>
            <a class="link-primary" asp-controller="ViewPost" asp-action="Index" asp-route-categoryslug="">
                Tat ca chuyen muc
            </a>
        </h3>
    }

    <ul>
        @foreach(var cate in Model.Categories)
        {
            // kiem tra neu ta click cac cate thi them class active o tag click
            var cssActive = (cate.Slug == Model.categorySlug) ? "active" : null;
            <li>
                <a class="@cssActive" asp-controller="ViewPost" asp-action="Index" asp-route-categoryslug="@cate.Slug">
                    @cate.Title
                </a>

                @if(cate.CategoryChildren?.Count > 0)
                {
                    @await Component.InvokeAsync("App.Views.Shared.Components.CategorySidebar", 
                                new CategorySidebarData()
                                {
                                    Categories = cate.CategoryChildren.ToList(),
                                    level = level + 1,
                                    categorySlug = ViewBag.categoryslug
                                })
                }
            </li>
        }
    </ul>

    @if(level == 0)
    {
        @Html.Raw("</div>")
    }
}